.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
}

.header__logo-stroke {
  border-radius: 50%;
  background-color: #52C395;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  width: 35px;
  height: 35px;
  position: relative;
}

.header__logo-text {
  font-size: 28px;
  font-weight: 500;
  margin-left: 8px;
}

.header__buttons-block {
  display: flex;
  align-items: center;
}